body{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: rgb(196, 106, 106);
}
img{
    margin-left: 20px;
}